* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-image: linear-gradient(to top, #000000 0%, #16320a 100%);
}

canvas {
    background-image: linear-gradient(to top, #000000 0%, #16320a 100%);
    position: absolute;
    top: 0;
}